body {
    background-color: rgb(237, 235, 210);
}

section {
    max-width: 56.25em;
    display: block;
    margin: 6px auto;
}

a {
    display: inline-block;
    width: 9em;
    height: 1.5em;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    text-align: center;
    background-color: rgb(233, 189, 190);
    border-radius: 6px;
    font-size: 2em;
    padding-top: .5em;
}

img {
    margin: 1.875em auto;
    width: 60em;
    height: 44.0625em;
    display: block;
}

#mystory {
    height: 140.625em;
    margin-bottom: 3.75em;
}

.style {
    height: 107.8125em;
}

.purchase {
    display: block;
    margin: 0 auto 3em;
}